[package]
name = "tinyroute"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = "1.1.0"
log = "0.4.14"
rand = "0.8.4"
serde = { version = "1.0.130", features = ["derive"] }
thiserror = "1.0.29"
tokio = { version = "1.11.0", features = ["full"] }

[dev-dependencies]
pretty_env_logger = "0.4.0"
